# Cleaning NBA Dataset
Original dataset is from:
> https://www.kaggle.com/datasets/loganlauton/nba-players-and-team-data?select=NBA+Player+Stats%281950+-+2022%29.csv. 

Wanted to clean so that it is only the most recent year.

In [34]:
import pandas as pd 
players = pd.read_csv('players.csv')
salaries = pd.read_csv('salaries.csv')

## Cleaning for Most Recent
We only want the most recent season (2021 - 2022), this is stored differently in our CSVs:
- in `players.csv`, there is a `Season` column (2022)
- in `salaries.csv`, there is a `seasonStartYear` column (2021)

These line up.

In [35]:
players.Season.describe()
players

,Season,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950,Curly Armstrong,G-F,31,FTW,63,NaN,NaN,144,516,...,0.705,NaN,NaN,NaN,176,NaN,NaN,NaN,217,458
1,1950,Cliff Barker,SG,29,INO,49,NaN,NaN,102,274,...,0.708,NaN,NaN,NaN,109,NaN,NaN,NaN,99,279
2,1950,Leo Barnhorst,SF,25,CHS,67,NaN,NaN,174,499,...,0.698,NaN,NaN,NaN,140,NaN,NaN,NaN,192,438
3,1950,Ed Bartels,F,24,TOT,15,NaN,NaN,22,86,...,0.559,NaN,NaN,NaN,20,NaN,NaN,NaN,29,63
4,1950,Ed Bartels,F,24,DNN,13,NaN,NaN,21,82,...,0.548,NaN,NaN,NaN,20,NaN,NaN,NaN,27,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28232,2022,Thaddeus Young,PF,33,TOR,26,0.0,475.0,67,144,...,0.481,40.0,75.0,115.0,45,31.0,11.0,22.0,43,164
28233,2022,Trae Young,PG,23,ATL,76,76.0,2652.0,711,1544,...,0.904,50.0,234.0,284.0,737,72.0,7.0,303.0,128,2155
28234,2022,Omer Yurtseven,C,23,MIA,56,12.0,706.0,130,247,...,0.623,85.0,209.0,294.0,49,17.0,20.0,41.0,84,299
28235,2022,Cody Zeller,C,29,POR,27,0.0,355.0,51,90,...,0.776,50.0,75.0,125.0,22,8.0,6.0,19.0,56,140
28236,2022,Ivica Zubac,C,24,LAC,76,76.0,1852.0,310,495,...,0.727,217.0,427.0,644.0,120,36.0,77.0,114.0,203,785

In [36]:
salaries.seasonStartYear.describe()

count    15857.000000
mean      2007.160434
std          9.489159
min       1990.000000
25%       1999.000000
50%       2008.000000
75%       2016.000000
max       2021.000000
Name: seasonStartYear, dtype: float64

In [37]:
players_recent = players[players.Season == 2022].reset_index(drop=True)
players_recent

,Season,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2022,Precious Achiuwa,C,22,TOR,73,28.0,1725.0,265,603,...,0.595,146.0,327.0,473.0,82,37.0,41.0,84.0,151,664
1,2022,Steven Adams,C,28,MEM,76,75.0,1999.0,210,384,...,0.543,349.0,411.0,760.0,256,65.0,60.0,115.0,153,528
2,2022,Bam Adebayo,C,24,MIA,56,56.0,1825.0,406,729,...,0.753,137.0,427.0,564.0,190,80.0,44.0,148.0,171,1068
3,2022,Santi Aldama,PF,21,MEM,32,0.0,360.0,53,132,...,0.625,33.0,54.0,87.0,21,6.0,10.0,16.0,36,132
4,2022,LaMarcus Aldridge,C,36,BRK,47,12.0,1050.0,252,458,...,0.873,73.0,185.0,258.0,42,14.0,47.0,44.0,78,607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,2022,Thaddeus Young,PF,33,TOR,26,0.0,475.0,67,144,...,0.481,40.0,75.0,115.0,45,31.0,11.0,22.0,43,164
808,2022,Trae Young,PG,23,ATL,76,76.0,2652.0,711,1544,...,0.904,50.0,234.0,284.0,737,72.0,7.0,303.0,128,2155
809,2022,Omer Yurtseven,C,23,MIA,56,12.0,706.0,130,247,...,0.623,85.0,209.0,294.0,49,17.0,20.0,41.0,84,299
810,2022,Cody Zeller,C,29,POR,27,0.0,355.0,51,90,...,0.776,50.0,75.0,125.0,22,8.0,6.0,19.0,56,140
811,2022,Ivica Zubac,C,24,LAC,76,76.0,1852.0,310,495,...,0.727,217.0,427.0,644.0,120,36.0,77.0,114.0,203,785

In [38]:
salaries_recent = salaries[salaries.seasonStartYear == 2021].reset_index(drop=True)
salaries_recent

             playerName  seasonStartYear        salary inflationAdjSalary
0         Stephen Curry             2021  $45,780,966        $49,928,610
1             John Wall             2021  $44,310,840        $48,325,294
2          James Harden             2021  $44,310,840        $48,325,294
3     Russell Westbrook             2021  $44,211,146        $48,216,568
4          Kevin Durant             2021  $42,018,900        $45,825,710
...                 ...              ...           ...                ...
1301    Jaime Echenique             2021      $53,176            $57,993
1302       Luca Vildoza             2021      $42,789            $46,665
1303     Zavier Simpson             2021      $37,223            $40,595
1304  Mfiondu Kabengele             2021      $19,186            $20,924
1305     Melvin Frazier             2021      $13,294            $14,498

[1306 rows x 4 columns]

## Merging the Recent DataFrames

In [39]:
salaries_recent = salaries_recent.rename(columns={'playerName': 'Player'})
salaries_recent

                 Player  seasonStartYear        salary inflationAdjSalary
0         Stephen Curry             2021  $45,780,966        $49,928,610
1             John Wall             2021  $44,310,840        $48,325,294
2          James Harden             2021  $44,310,840        $48,325,294
3     Russell Westbrook             2021  $44,211,146        $48,216,568
4          Kevin Durant             2021  $42,018,900        $45,825,710
...                 ...              ...           ...                ...
1301    Jaime Echenique             2021      $53,176            $57,993
1302       Luca Vildoza             2021      $42,789            $46,665
1303     Zavier Simpson             2021      $37,223            $40,595
1304  Mfiondu Kabengele             2021      $19,186            $20,924
1305     Melvin Frazier             2021      $13,294            $14,498

[1306 rows x 4 columns]

In [40]:
players_recent

,Season,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2022,Precious Achiuwa,C,22,TOR,73,28.0,1725.0,265,603,...,0.595,146.0,327.0,473.0,82,37.0,41.0,84.0,151,664
1,2022,Steven Adams,C,28,MEM,76,75.0,1999.0,210,384,...,0.543,349.0,411.0,760.0,256,65.0,60.0,115.0,153,528
2,2022,Bam Adebayo,C,24,MIA,56,56.0,1825.0,406,729,...,0.753,137.0,427.0,564.0,190,80.0,44.0,148.0,171,1068
3,2022,Santi Aldama,PF,21,MEM,32,0.0,360.0,53,132,...,0.625,33.0,54.0,87.0,21,6.0,10.0,16.0,36,132
4,2022,LaMarcus Aldridge,C,36,BRK,47,12.0,1050.0,252,458,...,0.873,73.0,185.0,258.0,42,14.0,47.0,44.0,78,607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,2022,Thaddeus Young,PF,33,TOR,26,0.0,475.0,67,144,...,0.481,40.0,75.0,115.0,45,31.0,11.0,22.0,43,164
808,2022,Trae Young,PG,23,ATL,76,76.0,2652.0,711,1544,...,0.904,50.0,234.0,284.0,737,72.0,7.0,303.0,128,2155
809,2022,Omer Yurtseven,C,23,MIA,56,12.0,706.0,130,247,...,0.623,85.0,209.0,294.0,49,17.0,20.0,41.0,84,299
810,2022,Cody Zeller,C,29,POR,27,0.0,355.0,51,90,...,0.776,50.0,75.0,125.0,22,8.0,6.0,19.0,56,140
811,2022,Ivica Zubac,C,24,LAC,76,76.0,1852.0,310,495,...,0.727,217.0,427.0,644.0,120,36.0,77.0,114.0,203,785

In [41]:
merged_df = pd.merge(salaries_recent, players_recent, on="Player")
merged_df = merged_df.drop_duplicates(subset=['Player']).reset_index(drop=True)
merged_df

,Player,seasonStartYear,salary,inflationAdjSalary,Season,Pos,Age,Tm,G,GS,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Stephen Curry,2021,"$45,780,966","$49,928,610",2022,PG,33,GSW,64,64.0,...,0.923,34.0,301.0,335.0,404,85.0,23.0,206.0,130,1630
1,James Harden,2021,"$44,310,840","$48,325,294",2022,PG,32,TOT,65,65.0,...,0.877,55.0,445.0,500.0,667,82.0,36.0,284.0,153,1432
2,Russell Westbrook,2021,"$44,211,146","$48,216,568",2022,PG,33,LAL,78,78.0,...,0.667,110.0,470.0,580.0,550,75.0,20.0,295.0,235,1441
3,Kevin Durant,2021,"$42,018,900","$45,825,710",2022,PF,33,BRK,55,55.0,...,0.910,29.0,378.0,407.0,351,48.0,52.0,191.0,113,1643
4,LeBron James,2021,"$41,180,544","$44,911,401",2022,C,37,LAL,56,56.0,...,0.756,63.0,396.0,459.0,349,73.0,59.0,196.0,121,1695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,Jordan Goodwin,2021,"$53,176","$57,993",2022,SG,23,WAS,2,0.0,...,NaN,0.0,1.0,1.0,0,0.0,0.0,0.0,1,0
526,Craig Sword,2021,"$53,176","$57,993",2022,SG,28,WAS,3,0.0,...,NaN,0.0,0.0,0.0,1,4.0,0.0,1.0,7,6
527,Jaime Echenique,2021,"$53,176","$57,993",2022,C,24,WAS,1,0.0,...,NaN,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0
528,Zavier Simpson,2021,"$37,223","$40,595",2022,PG,24,OKC,4,4.0,...,1.000,2.0,19.0,21.0,30,5.0,4.0,10.0,15,44
529,Melvin Frazier,2021,"$13,294","$14,498",2022,SG,25,OKC,3,0.0,...,0.714,5.0,8.0,13.0,1,1.0,0.0,3.0,8,32

In [42]:
merged_df.columns.to_list()

['Player',
 'seasonStartYear',
 'salary',
 'inflationAdjSalary',
 'Season',
 'Pos',
 'Age',
 'Tm',
 'G',
 'GS',
 'MP',
 'FG',
 'FGA',
 'FG%',
 '3P',
 '3PA',
 '3P%',
 '2P',
 '2PA',
 '2P%',
 'eFG%',
 'FT',
 'FTA',
 'FT%',
 'ORB',
 'DRB',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS']

In [43]:
# We need to rename the columns accordingly for clarity 
renamed_columns = {
    'Pos' : 'Position',
    'Tm' : 'Team',
    'G' : 'Games Played',
    'GS' : 'Games Started',
    'MP' : 'Minutes Played', 
    'FG' : 'Field Goals Made',
    'FGA' : 'Field Goals Attempted',
    'FG%' : 'Field Goals Percentage',
    '3P' : 'Three Pointers Made',
    '3PA' : 'Three Pointers Attempted',
    '3P%' : 'Three Pointers Percentage',
    '2P' : 'Two Pointers Made',
    '2PA' : 'Two Pointers Attempted',
    '2P%' : 'Two Pointers Percentage',
    'eFG%' : 'Effective Field Goal Percentage',
    'FT' : 'Free Throws Made',
    'FTA' : 'Free Throws Attempted',
    'FT%' : 'Free Throw Percentage',
    'ORB' : 'Offensive Rebounds',
    'DRB' : 'Defensive Rebounds',
    'TRB' : 'Total Rebounds',
    'AST' : 'Assists',
    'STL' : 'Steals',
    'BLK' : 'Blocks',
    'TOV' : 'Turnovers',
    'PF' : 'Personal Fouls',
    'PTS' : 'Points Scored'
}

merged_df.rename(columns=renamed_columns, inplace=True)

# Dropping unnecessary columns (we already have salary and we know the season is 2021-2022)
merged_df = merged_df.drop(['seasonStartYear', 'inflationAdjSalary'], axis='columns')

# We need to make salary numeric
merged_df['salary'] = merged_df['salary'].str.replace(',', '').str.replace('$', '')

# convert 'Salary' column to numeric values
merged_df['salary'] = pd.to_numeric(merged_df['salary'])

In [44]:
# Now we export to CSV
merged_df.to_csv('cleaned2021-2022.csv', index=False)